html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header {
    padding-left: 100px;
    padding-right: 100px;
}

.footer,
.header {
    background-color: #1F2937;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

a {
    display: flex;
    justify-content: end;
}

.section-1 {
    display: flex;
    background-color: #1F2937;
    gap: 30px;
    padding-left: 100px;
    padding-top: 50px;
}

.logo { 
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: baseline;
}

.header-links {
   display: flex;
   text-decoration: none;
   font-size: 18px;
   color: #E5E7EB;
   gap: 15px;
}

button {
    background-color: #3882F6;
    justify-content: left;
    margin-top: 5px;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 20px;
}

img {
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 10px;
}

.section-2 {
    margin-bottom: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

.header-photo {
    max-height: 250px;
    max-height: auto;
    padding-right: 100px;
    padding-bottom: 100px;
}

.text {
    display: flex;
    padding: 10px;
    text-align: center;
}

.img {
    border-radius: 25px;    
}

.images {
    display: flex;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 100px;
}

.section-4 {
    display: flex;
    background-color: #3882F6;
    flex: auto;
    color: white;
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 65px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 6px;
}

.footer {
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: rgba(204, 190, 190, 0.878);
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
  }

  .hero-secondary-text { 
      color: #c7ccc3;
      font-size: 18px;
  }

  .section-3 {
      background-color: #E5E7EB;
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 100px;
  }

  .sign-bottom {
      border: solid;
      border: white;
      margin: auto;
      color: white;
  }

  .sign-top {
      border-radius: 6px;
      font-size: bold;
      color: white;
      padding: 6px;
      padding-left: 20px;
      padding-right: 20px;
  }